# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.venv/
var/
sdist/
var/
eggs/
.eggs/
parts/
bin/
develop-eggs/
.installed.cfg
lib/
lib64/
parts/
share/
/staticfiles/
/media/

# JavaScript / Node
node_modules/
/frontend/dist/
.vite/
.eslintcache

# Environment variables
.env

# Databases
*.sqlite3

# Docker
.docker/

# IDEs
.idea/
.vscode/
*.swp
*.swo
.DS_Store
